# Ignore everything in the scopes directory
scopes/*
scopes/
scopes

# Ignore virtual environment directory
.venv/
.venv/*
.venv

# Ignore everything in the subdomains directory
subdomains/*
subdomains/
subdomains

# Ignore specific text files
handles.txt
all-domains.txt
subdomainlist.txt
